@import 'tailwindcss';

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* base styles  */
.gradient__color {
  @apply bg-gradient-to-b border-b-[1px] border-black/5 from-green-50 via-blue-50 to-white;
}
.section__top {
  @apply mt-[10vh] lg:mt-[15vh];
}

.section__gap {
  @apply px-5 md:px-12 lg:px-16 xl:px-0 max-w-7xl mx-auto;
}

.section_topSpace {
  @apply mt-[5vh];
}

.content__center {
  @apply flex justify-center items-center;
}

.card__border {
  @apply border border-black/10;
}
.hero__title {
  @apply text-4xl xl:text-5xl text-black/80  font-extrabold;
}
.main__title {
  @apply text-5xl xl:text-7xl text-black/80  font-extrabold;
}
.banner__title {
  @apply text-3xl xl:text-4xl text-[#2AA169]  font-extrabold;
}

.sub__title {
  @apply text-2xl xl:text-4xl text-black/70 font-bold;
}

.small__title {
  @apply text-base lg:text-xl text-black/75 font-semibold;
}

.sub__para {
  @apply text-base lg:text-lg text-black/80;
}

.base__para {
  @apply text-sm lg:text-base text-black/60;
}

.base__list__para {
  @apply text-sm lg:text-base text-black/80 font-medium;
}

.tooltip__btn__style {
  @apply bg-[#4483b8]  text-white rounded-full  py-1.5 px-4 font-medium text-sm;
}
.btn__style {
  @apply relative border border-black/10 rounded-full py-2 px-4 font-medium text-sm transition-all ease-in-out duration-500 overflow-hidden;
}

.btn__style {
  @apply relative border hover:bg-[#4483b8] hover:text-white hover:border-blue-200 border-black/10 rounded-full py-1.5 px-4 font-medium text-sm transition-all ease-in-out duration-500 overflow-hidden;
}

.arrow__color {
  @apply text-[#4483b8];
}

/* common styles  */

/* navbar styles */

/* about us secontion styles */

.ab__content__container {
  @apply grid lg:grid-cols-[38%_60%] justify-between;
}

.ab__card__parent {
  @apply p-6 rounded-md;
}

/* our courses  */
.course__container {
  @apply grid md:grid-cols-2 xl:grid-cols-3 items-center gap-5 xl:gap-5 h-full justify-center;
}

.course__card__parent {
  @apply p-6 rounded-md h-full;
}

.course__card__title {
  @apply mb-3 flex items-center gap-x-3.5;
}

.course__card__icon {
  @apply bg-gray-100 text-black/60 p-1.5 rounded-full;
}
.course__list__parent {
  @apply mt-5 list-inside list-disc;
}

/* Cta styles  */
.cta__container {
  @apply max-w-7xl mx-auto grid lg:grid-cols-2 gap-x-16 items-center py-16 px-5 md:px-12 lg:px-16 xl:px-0;
}
.cta__card__parent {
  @apply grid grid-cols-2  gap-3 lg:gap-5 mt-5 lg:mt-0;
}

/* student placement styles */
.st__works__row__parent {
  @apply w-40 h-24 flex justify-center items-center overflow-hidden rounded border border-black/10 hover:border-[#2AA169] transition-all ease-in-out duration-700 mx-2;
}
.st__works__row__img {
  @apply object-cover  hover:scale-110 transition-all ease-in-out duration-700   p-2 grayscale-100 hover:grayscale-0 mx-2 cursor-pointer;
}

/* testimonial styels */

.tes__container {
  @apply flex flex-nowrap gap-4 mb-8 max-w-4xl overflow-x-auto mx-auto pr-2;
}

.tes__content__parent {
  @apply grid  gap-6 max-w-4xl mx-auto;
}

.tes__tab__parent {
  @apply flex items-center gap-x-2 px-4 py-2 shrink-0 rounded-md text-sm font-medium;
}

.tes__card__parent {
  @apply bg-white p-6 rounded-md;
}

/* blogs style */
.blog__container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5;
}
/* footer */

.footer__gradient__color {
  @apply bg-gradient-to-r border-b-[1px] border-black/5 from-green-50 via-blue-50 to-white;
}

.footer__container {
  @apply bg-green-50   text-black/80 pt-12  pb-10 xl:pb-20 mt-[10vh] lg:mt-[15vh];
}

.footer__parent {
  @apply max-w-7xl mx-auto px-5 md:px-12 lg:px-16 xl:px-0;
}

.footer__child__parent {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 lg:gap-10 xl:gap-20;
}

.footer__icons__parent {
  @apply flex items-center gap-x-1;
}

.footer__menu {
  @apply text-xl font-semibold mb-3 lg:mb-6 text-black/80;
}

.footer__para {
  @apply text-black/80 hover:underline underline-offset-4 transition text-base;
}
.footer__last__col__icon__parent {
  @apply flex items-center space-x-3;
}

.fixed__footer__card_parent {
  @apply flex gap-x-10 items-center;
}


/* dashboard style */
.ad_section_space {
  @apply px-5 md:px-10 lg:px-[2vw] pt-[2vh] mb-20;
}

.tableOverFlow {
  @apply max-w-[100vw] px-2 lg:px-0 overflow-hidden;
}


.tableOverFlow::-webkit-scrollbar {
  display: none;
}

.tableOverFlow {
  -ms-overflow-style: none;
  /* IE + Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* two line */
.two-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
